/* ///////////////_ALL_////////////////////// */
*{
    font-family: 'Pontano Sans', sans-serif;
}
body{
    background-image: url('/static/images/vapor-background-11.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.hidden{
    display: none;
}
#dropArrow{
    right: -10px;
}
/* /////////_NAV_///////////// */
nav{
    padding: 0 10px 0 10px;
}
nav .right{
    position: absolute;
    top: 0px;
    right: 40px;
}
nav .right img{
    margin: 17px;
    height: 30px;
    width: 30px;
    border: 2px solid white;
    cursor: pointer;
}
.nav-wrapper form{
    margin-left: 55%;
    width: 25%;
}
.nav-wrapper .input-field{
    padding-top: 7px;
}
.nav-wrapper form #search{
    height: 50px;
}

.brand-logo{
    font-family: 'Courgette', cursive;
}

span.logo-font{
    font-family: 'Courgette', cursive;
}
/* /////////_MAIN_///////////// */
main {
    flex: 1 0 auto;
}
h6{
    font-weight: bold
}
.gamerow img{
    margin-top: 8px;
}
.row.responsive_img{
    flex: 1 0 auto;
    margin-top: 20px !important;
}
/* Fuckin' Materialize */
select{
    display: initial !important;
}
.btn{
    margin-top: 10px;
}
.game-form{
    width: 50vw;
    background-color: whitesmoke;
    padding: .3em;
}
.games, .profile{
    background-color: whitesmoke;
}
.gamerow{
    margin-bottom: 0px !important;
}

/* /////////_FOOTER_///////////// */
.page-footer, nav{
    background-color: lightslategray
}
