{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Vapyr</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!--Import materialize.css-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Courgette|Pontano+Sans" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static '/styles/materialize.min.css' %}"  media="screen,projection"/>
        <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="{% static '/scripts/materialize.min.js' %}"></script>
        <!-- <script type="text/javascript" src="{% static '/scripts/app.js'%}"></script> -->
        <script type="text/javascript" src="{% static '/scripts/app.js'%}" defer></script>
</head>

<body>
    <div class="navbar-fixed ">
        <nav class=" light-blue darken-4">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center hide-on-small-only">Vapyr</a>
                    <form class="search" action="" method="post">
                        <div class="input-field">
                            <input id="search" type="search" name="search">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                <ul class="right">
                    <li><a href="/">Browse</a></li>
                    <li><a href="/profile/user/{{user}}">Profile</a></li>
                    <!-- <li><a href="/user/{{user}}">Profile</a></li> --> 
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'user_logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="navbar-link" href="{% url 'user_login' %}">Login</a></li>
                    <li><a class="navbar-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
    </div>

<main>

        {% block content%}
        {% endblock %}
</main>    
<footer class="page-footer  light-blue darken-4">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Vapyr Inc.</h5>
            <p class="grey-text text-lighten-4">Not affiliated with Steam.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Giant Bomb Game Database</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-4" href="#!">Langdon GitHub</a></li>
            <li><a class="grey-text text-lighten-4" href="#!">Rachele GitHub</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2018 Rachele Avella and Langdon Froker
        
        <a class="grey-text text-lighten-4 right" href="#!">Something Else</a>
        </div>
    </div>
</footer>
</body>
</html>

