{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Vapyr</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!--Import materialize.css-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
        <link type="text/css" rel="stylesheet" href="{% static '/styles/materialize.min.css' %}"  media="screen,projection"/>
        <link rel="stylesheet" type="text/css" href="{% static '/styles/style.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="{% static '/scripts/materialize.min.js' %}"></script>
        <!-- <script type="text/javascript" src="{% static '/scripts/app.js'%}"></script> -->
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo hide-on-small-only">Logo</a>
                </ul>
                    <form action="" method="post">
                        <div class="input-field">
                            <input id="search" type="search" name="search">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                <ul class="right">
                    <li><a href="sass.html">Browse?</a></li>
                    <li><a href="badges.html">Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container games">

    </div>
    <script type="text/javascript" src="{% static '/scripts/app.js'%}"></script>
</body>
</html>

