<div id="card-container" class="row">
        <!-- Section to add dynamically -->
        <div class="col s12 m6 l4">
        <!-- Card 1 -->
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="https://vignette.wikia.nocookie.net/battlefield/images/3/3c/Battlefield_V_Cover_Art.jpg/revision/latest?cb=20180524142938">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        
        </div>
        <div class="col s12 m6 l4">
            <!-- Card 1 -->
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/44/Red_Dead_Redemption_II.jpg/220px-Red_Dead_Redemption_II.jpg">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        
        </div>
        <div class="col s12 m6 l4">
            <!-- Card 1 -->
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="https://imgc.allpostersimages.com/img/print/posters/overwatch-characters-centred_a-G-15283784-0.jpg">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        
            </div>
            <div class="col s12 m6 l4">
                    <!-- Card 1 -->
                    <div class="card">
                        <div class="card-image">
                            <img class="responsive-img" src="https://static-cdn.jtvnw.net/ttv-boxart/HITMAN.jpg">
                            <span class="card-title">Card Title</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                
                    </div>
                    <div class="col s12 m6 l4">
                            <!-- Card 1 -->
                                <div class="card">
                                    <div class="card-image">
                                        <img class="responsive-img" src="https://vignette.wikia.nocookie.net/battlefield/images/3/3c/Battlefield_V_Cover_Art.jpg/revision/latest?cb=20180524142938">
                                        <span class="card-title">Card Title</span>
                                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                    </div>
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="col s12 m6 l4">
                                <!-- Card 1 -->
                                <div class="card">
                                    <div class="card-image">
                                        <img class="responsive-img" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/44/Red_Dead_Redemption_II.jpg/220px-Red_Dead_Redemption_II.jpg">
                                        <span class="card-title">Card Title</span>
                                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                    </div>
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="col s12 m6 l4">
                                <!-- Card 1 -->
                                <div class="card">
                                    <div class="card-image">
                                        <img class="responsive-img" src="https://imgc.allpostersimages.com/img/print/posters/overwatch-characters-centred_a-G-15283784-0.jpg">
                                        <span class="card-title">Card Title</span>
                                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                    </div>
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                </div>
                            
                                </div>
                                <div class="col s12 m6 l4">
                                        <!-- Card 1 -->
                                        <div class="card">
                                            <div class="card-image">
                                                <img class="responsive-img" src="https://static-cdn.jtvnw.net/ttv-boxart/HITMAN.jpg">
                                                <span class="card-title">Card Title</span>
                                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                            </div>
                                            <div class="card-content">
                                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                            </div>
                                        </div>
                                    
                                        </div>
    </div>