{% extends 'vapyr_app/index.html' %}
{% load staticfiles %}

{% block content %}
<header>
<div class="container">
    <div class="row">
        <div class="col s12 m5 l12 grey">
            <h3 class="white-text center">Welcome to Vapyr!</h3>
            <h5 class="white-text center"> Sign in to start making your games list!</h5>                  
        </div>
    </div>
</div>
</header>

<div class="container games">
        <div class="row">
            <div class="col l3">
                <img class="responsive-img" src="https://vignette.wikia.nocookie.net/battlefield/images/3/3c/Battlefield_V_Cover_Art.jpg/revision/latest?cb=20180524142938">
            </div>
            <div class="col l6">
                <h5>Section 1</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam eius modi ab quia, vitae deserunt voluptas eos unde sed est nisi hic ea possimus fugit obcaecati quas maiores minus assumenda!</p>
            </div>
            <div class="col l3">
                <a class="waves-effect waves-light btn">Add to Games List</a>
                <a class="waves-effect waves-light btn">Add to Wishlist</a>
            </div>
        </div>
    <div class="divider"></div>
    <div class="row">
            <div class="col l3">
                <img class="responsive-img" src="https://vignette.wikia.nocookie.net/battlefield/images/3/3c/Battlefield_V_Cover_Art.jpg/revision/latest?cb=20180524142938">
            </div>
            <div class="col l6">
                <h5>Section 1</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam eius modi ab quia, vitae deserunt voluptas eos unde sed est nisi hic ea possimus fugit obcaecati quas maiores minus assumenda!</p>
            </div>
            <div class="col l3">
                <a class="waves-effect waves-light btn">Add to Games List</a>
                <a class="waves-effect waves-light btn">Add to Wishlist</a>
            </div>
        </div>
    <div class="divider"></div>
    <div class="row">
            <div class="col l3">
                <img class="responsive-img" src="https://vignette.wikia.nocookie.net/battlefield/images/3/3c/Battlefield_V_Cover_Art.jpg/revision/latest?cb=20180524142938">
            </div>
            <div class="col l6">
                <h5>Section 1</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam eius modi ab quia, vitae deserunt voluptas eos unde sed est nisi hic ea possimus fugit obcaecati quas maiores minus assumenda!</p>
            </div>
            <div class="col l3">
                <a class="waves-effect waves-light btn">Add to Games List</a>
                <a class="waves-effect waves-light btn">Add to Wishlist</a>
            </div>
        </div>
    <div class="divider"></div>
    <div class="row">
            <div class="col l3">
                <img class="responsive-img" src="https://vignette.wikia.nocookie.net/battlefield/images/3/3c/Battlefield_V_Cover_Art.jpg/revision/latest?cb=20180524142938">
            </div>
            <div class="col l6">
                <h5>Section 1</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam eius modi ab quia, vitae deserunt voluptas eos unde sed est nisi hic ea possimus fugit obcaecati quas maiores minus assumenda!</p>
            </div>
            <div class="col l3">
                <a class="waves-effect waves-light btn">Add to Games List</a>
                <a class="waves-effect waves-light btn">Add to Wishlist</a>
            </div>
        </div>
    <div class="divider"></div>

    
</div>

{% endblock %}
